# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Open playyoutube-atom search'
      'command': 'playyoutube-atom:search'
    },
    {
      'label': 'Hide playyoutube-atom player'
      'command': 'playyoutube-atom:hide'
    },
    {
      'label': 'Show playyoutube-atom player'
      'command': 'playyoutube-atom:show'
    },
    {
      'label': 'Close playyoutube-atom player'
      'command': 'playyoutube-atom:close'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'playyoutube-atom'
      'submenu': [
        {
          'label': 'Open search'
          'command': 'playyoutube-atom:search'
        },
        {
          'label': 'Show player'
          'command': 'playyoutube-atom:show'
        },
        {
          'label': 'Hide player'
          'command': 'playyoutube-atom:hide'
        },
        {
          'label': 'Close player'
          'command': 'playyoutube-atom:close'
        }
      ]
    ]
  }
]
