# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Open playyoutube search'
      'command': 'playyoutube:search'
    },
    {
      'label': 'Hide playyoutube player'
      'command': 'playyoutube:hide'
    },
    {
      'label': 'Show playyoutube player'
      'command': 'playyoutube:show'
    },
    {
      'label': 'Close playyoutube player'
      'command': 'playyoutube:close'
    },
    {
      'label': 'Settings for playyoutube'
      'command': 'playyoutube:settings'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'playyoutube'
      'submenu': [
        {
          'label': 'Open search'
          'command': 'playyoutube:search'
        },
        {
          'label': 'Show player'
          'command': 'playyoutube:show'
        },
        {
          'label': 'Hide player'
          'command': 'playyoutube:hide'
        },
        {
          'label': 'Close player'
          'command': 'playyoutube:close'
        },
        {
          'label': 'Settings for playyoutube'
          'command': 'playyoutube:settings'
        }
      ]
    ]
  }
]
